# General
*.log
*.tmp
*.bak
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
.env
.venv/

# P4 / Network Sim Tools
*.pcap
*.dot
*.out

# VS Code
.vscode/

# Build artifacts
build/
bin/
obj/
*.o
*.so
*.a
*.git-credentials
